.header-container {
  width: 93%;
  margin: 4rem 0 0.5rem;
}
.header-container h1 {
  margin-bottom: 0.5rem;
}

.btn-container {
  width: 93%;
  margin: 0 0 0.5rem;
}

.btnwrap {
  margin-top: 1rem;
}

.header-container span {
  display: inline-block;
  width: 150px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-style: italic;
}
