.contact-wrapper {
  position: relative;
  background-color: var(--button-bgc);
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.contact {
  width: 93%;
  margin: 0 auto;
  padding-left: 2rem;
}
.contact h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}
.contact-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
  border: solid 2px var(--button-bgc);
}
.contact-card span {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.email {
  display: flex;
  margin-bottom: 1rem;
}
.email span {
  margin-left: 1rem;
  align-self: center;
}
.phone {
  display: flex;
}
.phone svg {
  margin-top: 0.4rem;
}
.phone div {
  width: 200px;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.card div {
  margin-left: 1rem;
  font-size: 20px;
  line-height: 22px;
  text-decoration: underline;
}
.card:hover {
  color: rgba(186, 186, 186, 0.679);
}
.modal {
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 300px;
  background-color: gray;
  border-radius: 25px;
}
.close {
  position: absolute;
  top: 5px;
  left: 245px;
  color: var(--button-bgc);
  cursor: pointer;
}
