.contact-wrapper {
  background-color: var(--button-bgc);
  color: white;
  padding: 2rem 0 2rem;
  margin-bottom: 60px;
}
.contact {
  width: 93%;
  margin: 0 auto;
}
.contact h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}
.contact-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: rgba(168, 168, 168, 0.313);
  border-radius: 25px;
  border: solid 2px var(--button-bgc);
}
.contact-card span {
  display: inline-block;
  text-align: left;
}
