.contact-wrapper {
  position: relative;
  background-color: var(--button-bgc);
  color: white;
  height: 80vh;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.contact {
  width: 93%;
  margin: 0 auto;
  padding-left: 2rem;
}
.contact h3 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.contact-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
  border: solid 2px var(--button-bgc);
}
.contact-card span {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.email {
  display: flex;
  margin-bottom: 1rem;
}
.email span {
  margin-left: 1rem;
  align-self: center;
}
.phone {
  display: flex;
}
.phone svg {
  margin-top: 0.4rem;
}
.phone div {
  width: 200px;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.card div {
  margin-left: 1rem;
  font-size: 20px;
  line-height: 22px;
  text-decoration: underline;
}
.card:hover {
  color: rgba(186, 186, 186, 0.679);
}
.modal {
  position: absolute;
  bottom: 70px;
  right: 10px;
  width: 300px;
  background-color: gray;
  border-radius: 25px;
}
.close {
  position: absolute;
  top: 5px;
  left: 245px;
  color: var(--button-bgc);
  cursor: pointer;
}
@media (min-width: 600px) {
  .contact-wrapper {
    height: 300px;
  }
  .contact {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .contact h3 {
    margin: 1rem 0 2rem;
    font-size: 1.3rem;
    text-align: start;
  }
  .email,
  .phone,
  .card {
    font-size: 1rem;
  }

  .modal {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(100%, 50%);
    width: 280px;
    border-radius: 25px;
  }
  .modal span {
    text-align: justify;
  }
  .close {
    display: none;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 450px;
  }
}
